/* base style */
.rc-dropdown {
    width: 6.7rem;
    overflow: hidden;
    border: 0.05rem solid #121626;
}

.rc-dropdown-menu {
    width: 100%;
    min-width: 12.9rem;
    max-height: 7.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    margin: -0.25rem 0 0 0;
    border: none;
    border-radius: 0;
}

.rc-dropdown-menu > .rc-dropdown-menu-item {
    height: 1.5rem;
    line-height: 1.5rem;
    padding: 0 0.5rem;
    border-radius: 0;
    background-color: #242b47;
    color: #fff;
    font-size: 0.7rem;
    cursor: pointer;
}

.rc-dropdown-menu > .rc-dropdown-menu-item:hover {
    background-color: #3c4874;
}

.rc-dropdown-menu > .rc-dropdown-menu-item-selected {
    background-color: #2c3557;
}

.rc-dropdown-menu > .rc-dropdown-menu-item:first-child,
.rc-dropdown-menu > .rc-dropdown-menu-item:last-child {
    border-radius: 0;
}

.rc-dropdown-menu-item-selected:after {
    display: none;
}

/* dark theme style */
body[theme='light'] .rc-dropdown {
    border: 0.05rem solid #e5e5e5;
}

body[theme='light'] .rc-dropdown-menu > .rc-dropdown-menu-item:hover {
    background-color: #f7f7f7;
}

body[theme='light'] .rc-dropdown-menu > .rc-dropdown-menu-item {
    background-color: #fff;
    color: #707070;
}

body[theme='light'] .rc-dropdown-menu > .rc-dropdown-menu-item-selected {
    background-color: #f7f7f7;
}

/* miniscreen style */
body[miniscreen='true'] .rc-dropdown-menu {
    width: 17rem;
}

/* bigscreen style */
body[bigscreen='true'] .rc-dropdown-menu {
    max-height: 10.5rem;
}

body[bigscreen='true'] .rc-dropdown-menu > .rc-dropdown-menu-item {
    height: 2rem;
    line-height: 2rem;
    font-size: 0.9rem;
}

/* microsoft bigscreen style */
body[bigscreenmicrosoft='true'] .rc-dropdown {
    border: 0.1rem solid #121626;
}

body[bigscreenmicrosoft='true'][theme='light'] .rc-dropdown {
    border: 0.1rem solid #e5e5e5;
}

body[bigscreenmicrosoft='true'] .rc-dropdown-menu {
    max-height: 14rem;
    min-width: 15rem;
}

body[bigscreenmicrosoft='true'] .rc-dropdown-menu > .rc-dropdown-menu-item {
    height: 2rem;
    line-height: 2rem;
    font-size: 1.2rem;
}
