/* tooltip style */
.tooltipWrapper {
    position: fixed;
    z-index: 100000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.tooltipContent {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 12rem;
    height: 4rem;
    line-height: 4rem;
    margin-left: -6rem;
    border-radius: 0.2rem;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    color: #fff;
    font-size: 0.9rem;
    text-align: center;
}

/* bigscreen style */
body[bigscreen='true'] .tooltipContent {
    font-size: 1.1rem;
}

/* microsoft bigscreen style */
body[bigscreenmicrosoft='true'] .tooltipContent {
    width: 24rem;
    height: 8rem;
    line-height: 8rem;
    margin-left: -12rem;
    border-radius: 0.5rem;
    font-size: 1.8rem;
}
